@charset "utf-8";
/* CSS Document */
.header {
	background-image: url(../Images/chisholm-institute.jpg);
	height: 100px;
	width: 800px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-color: #000154;
}
.content {
	height: auto;
	width: 800px;
	color: #FAF9F4;
	background-color: #000154;
}
.wrapper {
	width: 800px;
	height: auto;
}
.footer {
	background-color: #000154;
	height: 50px;
	width: 800px;
	color: #FEFFFA;
}
</style>

